.cabeçalho {
    background-color: #3b82f6;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    }
    
    .lista-principal {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    }
    
    .item {
    background-color: grey;
    color: #3b82f6;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    }
    
    .jurandir {
    font-size: 20px;
    color: brown;
    margin: 30px 0;
    text-align: center;
    background-color: deepskyblue;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    }