.cabeçalho{
    background-color: blue;
    color: azure;
    padding: 20px;
    text-align: center;
}

.lista-principal{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 20px;
    font-size: 20px;
}
    .Jurandir{
    font-size: 20px;
    color: ivory;
    margin: 30px;
    text-align: center;
    background-color: blue;

    }
    .item{
    background-color: darkslateblue;
    color: antiquewhite;
    padding:8px 12px;
    border-radius: 8px;
    font-weight: bold;

    }